/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

:root {
    --color-bell:#cccaca;
    --color-bell-hover:#adadad;

    --color-avatar:#ff9a00;
    --color-avatar-hover:#e78b01;

    --color-menu-items-hover:#f7f7f7;
    --color-dropdown-menu-name:#767676;

    --color-body-background:#f8f9fc;

    --color-front-bsa:#ffffff;
    --color-front-js:#f7cf69;
    --color-front-qa:#52bf77;
    --color-front-java:#e12b4c;
    --color-front-php:#8893c0;
    --color-front-dotnet:#642077;
    --color-front-events:#2d99fe;
    --color-front-blog:#0443a3;
    --color-front-contacts:#00255f;
}

* {
    box-sizing: border-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0 10% 0 10%;
    background-color: var(--color-body-background);
  }

  header {
    width: 100%;
    position: fixed;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 6px 5px -5px rgba(0,0,0,.1);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    z-index: 50;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    animation: .5s ease-out 0s 1 slideInFromTop;
    padding: 0 10% 0 10%;
    margin-top: 0px;
}

.left-side, .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img {
    display: inline-block;
    width: 115px;
    height: 33px;
}

#logo {
    cursor: pointer;
    padding: 5px;
}

.bell-wrapper {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bell-wrapper span {
    color: var(--color-bell);
    cursor: pointer;
}

.bell-wrapper span:hover{
    color: var(--color-bell-hover);
}

.profile-menu {
    display: flex;
    align-items: center;
    color: #000;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 0;
}

.profile-menu input
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 22%;
    right: 10%;
    cursor: pointer;
    display: block;
    opacity: 0;
    z-index: 5;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: var(--color-avatar);
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

input:hover ~ .avatar {
    background-color: var(--color-avatar-hover);
}

.avatar p {
    margin-top: 3px;
    position: relative;
    top: 18%;
    font-size: 0;
}

.avatar p::first-letter {
    font-size: 1.25rem;
    text-align: center;
}

 .dropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 10%;
    z-index: 131;
    min-width: 160px;
    height: auto;
    background: #fff;
    border-radius: 3px;
    box-shadow: -1px 5px 17px -7px rgba(0,0,0,.23);
    font-family: "Helvetica";
}

.menu-list {
    list-style-type: none;
    padding: 0 10px 10px 10px;
    margin: 0;
    color: #767676;
}

.menu-list a
{
    text-decoration: none;
}

.menu-list li
{
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.menu-list li:hover
{
    background-color: var(--color-menu-items-hover);
}

.dropdown-menu h6 {
    color: #767676;
    margin: 5px 5px;
    text-align: center;
    font-family: "Helvetica";
    font-size: 14px;
}

.dropdown-menu hr {
    color: var(--color-dropdown-menu-name);
    width: 80%;
}

input:checked ~ .dropdown-menu {
    display: block;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    header  {
        align-items: initial;
    }
}

@media screen and (max-width: 768px){
    .dropdown-menu {
        min-width: 0;
        width: 175px;
    }
}

.grid
{
    display: grid;
    position: relative;
    width: 100%;
    height: 40vw;
    grid-template-columns: 4fr 4fr 5fr 3fr;
    grid-template-rows: repeat(8, 1fr);
    top: 95px;
}

.card-bsa
{
    grid-column: 1;
    grid-row: 1 / 5;
    perspective: 1000px;
}

.card-qa
{
    grid-column: 1;
    grid-row: 5 / 9;
    perspective: 1000px;
}

.card-js
{
    grid-column: 2;
    grid-row: 1 / 7;
    perspective: 1000px;
}

.card-java
{
    grid-column: 2;
    grid-row: 7 / 9;
}

.card-php
{
    grid-column: 3 / 5;
    grid-row: 1 / 4;
}

.card-dotnet
{
    grid-column: 3;
    grid-row: 4 / 9;
}

.card-events
{
    grid-column: 4;
    grid-row: 4 / 6;
}

.card-blog
{
    grid-column: 4;
    grid-row: 6 / 8;
}

.card-contacts
{
    grid-column: 4;
    grid-row: 8;
}

.card 
{
    position: relative;
}

.grid .back-text {
    position: absolute;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.card-events .back-text,
.card-blog .back-text
{
    font-weight: normal;
    font-size: 17px;
}

.back-text, 
.card-bsa .btn-join, 
.card-contacts .navigation
{
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.btn-join
{
    display: flex;
    height: 100%;
    width: 100%;
}

.card-bsa .btn-join a
{
    appearance: button;
    text-decoration: none;
    background-color: var(--color-front-events);
    color: white;
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 3px;
}

.card-contacts a:hover path, 
.card-contacts a:hover circle
{
    fill:#2d99fe;
}

.card-bsa .btn-join a:hover
{
    background-color: var(--color-front-blog);
}

.front-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 100%;
    width: 100%;
    font-size: 5vw;
    color: white;
    position: absolute;
    padding: 5px;
}

.card-js .front-card
{
    color: black;
    font-weight: bold;
    font-size: 6vw;
    justify-content: flex-end;
    align-items: flex-end;
}

.card-java .front-card
{
    font-size: 2.5vw;
}

.card-php .front-card
{
    color: black;
    font-style: italic;
}

.card-events .front-card,
.card-blog .front-card,
.card-contacts .front-card
{
    font-size: 16px;
}

.card-contacts .navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navigation a
{
    margin: 5px;
}

@media (max-width: 890px){
    .grid{
        grid-template-columns: 8fr 1fr 5fr 4fr;
        grid-template-rows: repeat(2, 3fr) 2fr repeat(2, 4fr);
        height: 71vw;
    }

    .card-bsa
    {
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .card-qa
    {
        grid-column: 1 / 3;
        grid-row: 5;
    }

    .card-js
    {
        grid-column: 2 / 4;
        grid-row: 1 / 4;
    }

    .card-java
    {
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .card-php
    {
        grid-column: 3 / 5;
        grid-row: 4;
    }

    .card-dotnet
    {
        grid-column: 3 / 5;
        grid-row: 5;
    }

    .card-events
    {
        grid-column: 4;
        grid-row: 1;
    }

    .card-blog
    {
        grid-column: 4;
        grid-row: 2;
    }

    .card-contacts
    {
        grid-column: 4;
        grid-row: 3;
    }  
}

.footer{
    text-align: center;
    margin: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer p
{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.result-message {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    margin: 10px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.message {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: white;
    width: 210px;
    height: auto;
    opacity: 0.75;
}

.message-info 
{
    padding: 10px;
}

.message-icon
{
    margin-left: 10px;
}

.message h3{
    font-weight: bold;
}


.error{
    background-color: red;
}

.success {
    background-color: green;
}

.card-js .card-js-inner,
.card-qa .card-qa-inner,
.card-bsa .card-bsa-inner
{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-bsa:hover .card-bsa-inner
{
    transform: rotateY(180deg);
}

.card-js:hover .card-js-inner
{
    transform: rotateY(180deg);
}

.card-qa:hover .card-qa-inner
{
    transform: rotateY(180deg);
}

.back-js, .btn-join, .back-qa
{
    background-color: white;
    transform: rotateY(180deg);
}

.card-dotnet .front-card,
.card-php .front-card,
.card-events .front-card,
.card-blog .front-card,
.card-contacts .front-card,
.card-java .front-card
{
    transition: transform 0.3s
}
 
.card-dotnet .front-card:hover,
.card-dotnet:hover .front-card
{
    transform: scale(0);
    transform-origin: 100% 100%; 
}

.card-php .front-card:hover,
.card-php:hover .front-card
{
    transform: scale(0);
    transform-origin: 100% 0%;
}

.card-dotnet .front-card
{
    transform: scale(1);
    transform-origin: 100% 100%; 
}

.card-php .front-card
{
    transform: scale(1);
    transform-origin: 100% 0%;
}

.card-events .front-card:hover,
.card-events:hover .front-card,
.card-blog .front-card:hover,
.card-blog:hover .front-card,
.card-contacts .front-card:hover,
.card-contacts:hover .front-card
{
    transform: scaleX(0);
    transform-origin: 100% 0%;
}

.card-java .front-card:hover,
.card-java:hover .front-card
{
    transform: scaleY(0);
    transform-origin: 0% 100%;
}

.card-events .front-card,
.card-blog .front-card,
.card-contacts .front-card
{
    transform: scale(1);
    transform-origin: 100% 0%; 
}

.card-java .front-card
{
    transform: scaleY(1);
    transform-origin: 0% 100%;
}

.front-java 
{
    animation: fontSizeEnlarge40px .3s .2s
}

.front-dotnet, .front-php 
{
    animation: fontSizeEnlarge80px .3s .2s;
}

@keyframes fontSizeEnlarge80px {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 5vw;
    }
}

@keyframes fontSizeEnlarge40px {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 2.5vw;
    }
}


::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }